data/shakemap_profiles/italy/install/data/*.db
data/shakemap_profiles/world/install/data/*.db
data/shakemap_profiles/world/data/*
data/shakemap_profiles/italy/data/*
data/shakemap_profiles/default/data/
!data/shakemap_profiles/world/data/8863681/8863681_1_shakedata_dat.xml
!data/shakemap_profiles/world/data/8863681/rupture.json
!data/shakemap_profiles/world/data/8863681/event.xml
!data/shakemap_profiles/italy/data/8863681/8863681_1_shakedata_dat.xml
!data/shakemap_profiles/italy/data/8863681/rupture.json
!data/shakemap_profiles/italy/data/8863681/event.xml
