data/shakemap_profiles/world/install/data/*.db
data/shakemap_profiles/world/install/data/*.db-shm
data/shakemap_profiles/world/install/data/*.db-wal
data/shakemap_profiles/world/data/8863681/current/
!data/shakemap_profiles/world/data/8863681/current/8863681_1_shakedata_dat.xml
!data/shakemap_profiles/world/data/8863681/current/rupture.json
!data/shakemap_profiles/world/data/8863681/current/event.xml
data/shakemap_profiles/italy/data/8863681/current/
!data/shakemap_profiles/italy/data/8863681/current/8863681_1_shakedata_dat.xml
!data/shakemap_profiles/italy/data/8863681/current/rupture.json
!data/shakemap_profiles/italy/data/8863681/current/event.xml
